{% extends 'base.html' %}

{% block content %}

For test data and corresponding scale visit <a href='https://hc18.grand-challenge.org/'> data</a>
<br><br>
<form action="" method="post" enctype="multipart/form-data"> 
    {% csrf_token %}
    {{ printform.as_p }}
<input type="submit" value="Submit">

 </form>
 <br>
{% if image %}
<img src="https://grand-challenge-public-prod.s3.amazonaws.com/f/challenge/265/5dce7aa7-d2fe-4f59-a838-45dd267840be/GrandChallangeValues_90xwKFs.png" alt="image" width="225" height="225">
<img src="data:image/png;base64,{{image}}" width="225" height="225">
<img src="data:image/png;base64,{{segment}}" width="225" height="225">
<br>
<br>


<div class="tablediv">
<h2> Result</h2>

Circumference value is {{ val.circum }}
<br>
<table >
<TR>
   <TR><TD>center_x_mm: </TD> <TD>{{ val.center_x_mm }}</TD></TR>
   <TR><TD>center_y_mm: </TD> <TD>{{ val.center_y_mm }}</TD></TR>
   <TR><TD>semi_axes_a_mm: </TD> <TD>{{ val.semi_axes_a_mm }}</TD></TR>
   <TR><TD>semi_axes_b_mm: </TD> <TD>{{ val.semi_axes_b_mm }}</TD></TR>
   <TR><TD>angle_rad: </TD> <TD>{{ val.angle_rad }}</TD></TR>
</table>
<div>
{% endif %}
<br>
<br>


<h2> Notes</h2>
<ul>
<li>Pixel size ranging from 0.052 to 0.326 mm. This large variation in pixel size is a result of adjustments in the ultrasound settings by the sonographer (depth settings and amount of zoom are routinely varied during the examination) to account for the different sizes of the fetuses. We donted it with <bold>scale</bold> input.</li>
<li>  Most data were acquired after 12 and 20 weeks of pregnancy, since these are standard time points of routine ultrasound screening for pregnant women in the Netherlands.</li>
<li>Normal mean circumference is 175 mm at 20 week gestational age with 1st, 2nd, 3rd standard deviation of 160,145 and 131 respectively. </li>
<li> Microcephaly is diagnosed when the head circumference falls below 2 or 3 or even more standard deviations</li>
</ul>

<h3>Reference</h3>
<ul>
   <li>Detal head circumference measurement competetion.<a href="https://hc18.grand-challenge.org/">link</a>
</li>
   <li>Detal head circumference measurement data. <a href="https://zenodo.org/record/1322001#.YRDiZagzbEY">link</a>
</li>
   <li>Detal head circumference measurement paper. <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0200412">link</a>
</li>
   <li>Detal head circumference measurement chart. <a href="https://www.babymed.com/tools/hc-head-circumference-calculator#">link</a>
</li>
</ul>
{% endblock %}